table.table.table-striped
  thead
        tr
          th(colspan='4') Reservations
      tbody
        th No.
        th Customer name
        th Appt. date/time
        th Message
        tr
          td 1
          td Emile Munyangabe             
          td 03/30/2015 10:05 am
          td Hello i need this type of haircut. thanks
  
