table.table.table-striped
  h1(ng-hide='bizappts') You have no reserved appointments!   
  thead
    tr
      th No.
      th Customer
      th Appt. Date
      th Message
  tbody
    tr(ng-repeat='bizappt in bizappts')    
      td {{$index + 1}}
      td {{bizappt.userId}}
      td {{bizappt.apptDate}}
      td {{bizappt.msg}}

        
