.container-slide
    #map-barbers
      .row        
        .panel
          .col-md-6
            #map_canvas
          .col-md-6 
          .row
            .col-sm-6.col-md-6
              .thumbnail
                .caption(ng-if='!result')
                  h2 List your business on barber-book.
                  h1 Follow these simple steps to get started:
                  ul
                     i.fa.fa-hand-o-left   Find your barbershop on the map,
                     i.fa.fa-plus-circle   Click Register to receive a verification PIN 
                     i.fa.fa-mobile   Check your phone & enter the PIN received
                     i.fa.fa-check-circle-o   Voila, your barbershop is registered.
                .caption(ng-show='result')
                  h3 Business name: {{result.name}}
                  p Address: {{result.formatted_address}}
                  p Phone: {{result.formatted_phone_number}} 
                  p Email: {{business.email}}             
                  a.btn.btn-sm.btn-primary(ng-click="pinconf()" ng-show="show=1") Register your business
                  span  
                    input.pin(type='number' name='pin' id='pin' placeholder='Enter your confirmation PIN' ng-model='business.pin', value='pin' required) 
                    button.pin(type='submit', ng-click='update(business)') Submit
                      i.fa.fa-arrow-right  
                      
    
      .row
        .col-lg-8.col-md-8
          h3 Book your next haircut appointment right here  
        .col-lg-4.col-md-4
          a.btn.btn-lg.btn-primary.pull-right(href='#')
            i.fa.fa-power-off
            | Register your business!  
            
                  
