

#loginform
      #social.button(ng-click='authenticate("facebook")'): i.fa.fa-facebook
      #social.button(ng-click='authenticate("twitter")'):  i.fa.fa-twitter
      #social.button(ng-click='authenticate("google")'): i.fa.fa-google       
      #social.button(ng-click='authenticate("github")'): i.fa.fa-github
      #social.button(ng-click='authenticate("instagram")'): i.fa.fa-instagram        

  #mainlogin
    #or Barber
    h1 Login to your portal
    
    a.au(ui-sref='login') Login 
    a.au(ui-sref='register') Register
    form      
      .form-group
        input(type='email', name='email', placeholder='email', required='', ng-model='business.email')
      .form-group(ng-show='name === "Register"')  
        input(type='password', name='password1', placeholder='password', required='', ng-model='business.password1')      
      .form-group(ng-show='name === "Register"')  
        input(type='password', name='password2', placeholder='confirm your password', ng-model='business.password2')      
      .form-group(ng-show='name === "Login"')
        input(type='password', name='password', ng-model='business.password')  
      .form-group(ng-show='name === "Register"')  
        button(type='submit', ng-click='submit(business)') {{name}}
          i.fa.fa-arrow-right
      .form-group(ng-show='name === "Login"')  
        button(type='submit', ng-click='submit(business)') {{name}}
          i.fa.fa-arrow-right    
  
  
