#loginform
      #social.button(type='submit', ng-click='authenticate("facebook")'): i.fa.fa-facebook
      #social.button(type='submit', ng-click='authenticate("twitter")'):  i.fa.fa-twitter
      #social.button(type='submit', ng-click='authenticate("google")'): i.fa.fa-google       
      #social.button(type='submit', ng-click='authenticate("github")'): i.fa.fa-github
      #social.button(type='submit', ng-click='authenticate("instagram")'): i.fa.fa-instagram        

      #mainlogin
        #or or
        h1 Log in with awesome new thing
        form(action='#')
          input(type='text', placeholder='username or email', value='', required='')
          input(type='password', placeholder='password', value='', required='')
          button(type='submit')
            i.fa.fa-arrow-right
        #note
          a(href='#') 


        
