
h2 https://barber-book.herokuapp.com/#/


h2 Technologies / Frameworks used to develop this app:

h2 > Backend: Nodejs, hapijs and MongoDB,
h2 > Frontend: AngularJs, Jade, less and Bootstrap
  
h2 > Oauth: Google, Facebook, Twitter, Instagram,
h2 > Google Places API & Geolocation, 
h2 > Yelp API,
h2 > Twilio API,
    
    
h2 For more info, visit kodenow.com 
h2 Email me at emile@kodenow.com    
