pre
  code
     h3(href="https://barber-book.herokuapp.com/#/") https://barber-book.herokuapp.com/#/ 
     h3 Technologies / Frameworks used to develop this app:

     h4.fa.fa-code   Backend: Nodejs, hapijs and MongoDB,
     br
     h4.fa.fa-code   Frontend AngularJs, Jade, less and Bootstrap
     br
     h4.fa.fa-code   Oauth: Google, Facebook, Twitter, Instagram,
     br
     h4.fa.fa-code   Google Places API & Geolocation, 
     br
     h4.fa.fa-code   Yelp API,
     br
     h4.fa.fa-code   Twilio API,
     br
     br
     h4.fa.fa-hand-o-right   For more info, visit 
        a(href="https://barber-book.herokuapp.com/#/") kodenow.com 
     br
     h4.fa.fa-envelope   Email me at emile@kodenow.com 
     h4.fa.fa-twitter Twitter.com/emilemuny   
