.container-slide
    #map-barbers
      .row        
        .panel
          .col-md-6
            #map_canvas
          .col-md-6 
          .row
            .col-sm-6.col-md-4
              .thumbnail
                .caption(ng-show='result') Unregistered
                  h3 {{result.name}}
                  p Address: {{result.formatted_address}}
                  p Phone: {{result.formatted_phone_number}}                                    
                  a.btn.btn-primary(type='button', disabled='disabled') Book
                  a.btn.btn-default(href='#', role='button') More info.
                          
            .col-sm-4(ng-repeat= 'business in businesses')
              .thumbnail
                .caption Register member
                  h3 {{business.name}}
                  p Address: {{business.address}}
                  p Phone: {{business.phone}}                                    
                  a.btn.btn-primary(type='button', data-toggle='modal', data-target='#myModal') Book
                  #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
                    .modal-dialog
                      .modal-content
                        .modal-header                        
                          h4#myModalLabel.modal-title {{business.name}} Haircut booking 
                        .modal-body
                            form(name='appt')
                               .input-append.date.form_datetime(data-date='2015-03-24T15:25:00Z')                                            
                                 input(size='5', type='text', placeholder='Click here to choose date/time of your appointment', value='', readonly='')
                                 span.add-on
                                   i.icon-remove
                                 span.add-on
                                   i.icon-th
                                script(type='text/javascript').
                                  $(".form_datetime").datetimepicker({
                                  format: "dd MM yyyy - HH:ii P",
                                  showMeridian: true,
                                  autoclose: true,
                                  todayBtn: true
                                  });
                               textarea.form-control(placeholder='Feel free to let your barber know what haircut style you want',rows='3')                                                                           
                               button.btn.btn-default(type='submit', ng-click='send()') Send
                           i.fa.fa-arrow-right    
                        .modal-footer
                          
                          a.btn.btn-default.btn-sm(type='button', data-dismiss='modal') Close
                          //- button.btn.btn-primary(type='button') Save changes
                  a.btn.btn-info(href='#', role='button') More info.                   
      
            
    
      .row
        .col-lg-8.col-md-8
          h3 Book your next haircut appointment right here  
        .col-lg-4.col-md-4
          a.btn.btn-lg.btn-primary.pull-right(href='#')
            i.fa.fa-power-off
            | Register your business!  
