div(id='exampleModal-{{$index}}').example.modal.fade(tabindex='-1', ng-controller='CalCtrl')
  .modal-dialog
    .modal-content
      .modal-header  
        //- button.close(type='button', data-dismiss='modal', aria-label='Close')
        //-   span(aria-hidden='true') ×        
        h4#exampleModalLabel.modal-title {{business.name}}
      .modal-body
        form(name='appt')
          .form-group
            label.control-label(for='recipient-name') Please pick a date/time for your Appointment
            .row
              .col-sm-6
                .form-group
                  #datetimepicker5.input-group.date
                    input#dateinput.form-control(type='text' ng-model='apptData.dateA', placeholder='Click here')
                    span.input-group-addon 
                    span.glyphicon.glyphicon-calendar
          .form-group
            label.control-label(for='message-text') Message:
            textarea#message-text.form-control(type='text' ng-model='apptData.txt')
          .form-group              
            button.cal.primary(ng-click='sendAppt(apptData, business._id)') Send
