#exampleModal.modal.fade(tabindex='-1', ng-controller='CalCtr')
  .modal-dialog
    .modal-content
      .modal-header        
        h4#exampleModalLabel.modal-title 
      .modal-body
        form(name='appt')
          .form-group
            label.control-label(for='recipient-name') Please pick a date/time for your Appointment
            .row
              .col-sm-6
                .form-group
                  #datetimepicker5.input-group.date
                    input.form-control(type='text' ng-model='apptData.dateA' placeholder='Click here')
                    span.input-group-addon
                      span.glyphicon.glyphicon-calendar
          .form-group
            label.control-label(for='message-text') Message:
            textarea#message-text.form-control(type='text' ng-model='apptData.txt')
          .form-group  
            button.cal.primary(type='button', data-dismiss='modal') Cancel
            button.cal.primary(ng-click='sendAppt(apptData)') Send
